{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "nexus-gateway-proxy",
  "main": "index.mjs",
  "compatibility_date": "2026-09-01",
  "kv_namespaces": [
    {
      "binding": "NEXUS_GATEWAY_KV",
      "id": "__KV_NAMESPACE_ID__"
    }
  ]
}
